{{define "page:title"}}Restricted page{{end}}

{{define "page:meta"}}
<meta name="page" content="restricted">
{{end}}

{{define "page:main"}}
<p>This page is restricted to authenticated users.</p>
{{end}}
