{{template "base" .}}

{{define "page:title"}}User Profile{{end}}

{{define "page:main"}}
<h1>User Profile</h1>
<p>Email: {{.Profile.email}}</p>
<p>Name: {{.Profile.name}}</p>
<p><a href="/logout">Logout</a></p>
{{end}}
